.profile-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f9f9f9;
}

.profile-form h2 {
  text-align: center;
  margin-bottom: 25px;
}

.profile-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-form .form-part {
  width: 100%;
  margin-bottom: 15px;
}

.profile-form label,
.profile-form select,
.profile-form input {
  width: 100%;
  margin-bottom: 5px;
  display: block;
}

.profile-form label {
  font-size: 18px;
}

.profile-form input,
.profile-form select {
  margin-top: 7px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

.chngpwd {
  padding-top: 12px;
}

.profile-form button {
  width: 100%;
  padding: 10px;
  background-color: #5356ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form button:hover {
  background-color: #1d24ca;
}

@media (min-width: 768px) {
  .profile-form .form-part {
    width: 48%;
  }
}
